opensand-deploy/src/frontend/src/xsd/topology.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="model">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <version>1.0.0</version>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="root">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              <type>component</type>
              <name>Root</name>
              <description>topology</description>
              <advanced>false</advanced>
              <readonly>false</readonly>
              <reference/>
              <expected/>
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="frequency_plan">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <type>component</type>
                    <name>Spots / Frequency Plan</name>
                    <description/>
                    <advanced>false</advanced>
                    <readonly>false</readonly>
                    <reference/>
                    <expected/>
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="spots">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          <type>list</type>
                          <name>Spots</name>
                          <description/>
                          <advanced>false</advanced>
                          <readonly>false</readonly>
                          <reference/>
                          <expected/>
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>component</type>
                                <name>spot</name>
                                <description/>
                                <advanced>false</advanced>
                                <readonly>false</readonly>
                                <reference/>
                                <expected/>
                              </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="assignments">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                      <type>component</type>
                                      <name>Spot Assignment</name>
                                      <description/>
                                      <advanced>false</advanced>
                                      <readonly>false</readonly>
                                      <reference/>
                                      <expected/>
                                    </xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="gateway_id" type="xs:integer" minOccurs="0">
                                        <xs:annotation>
                                          <xs:documentation xml:lang="en">
                                            <type>int</type>
                                            <name>Gateway ID</name>
                                            <description>ID of the gateway this spot belongs to; note that only one spot must be managed by a given gateway</description>
                                            <advanced>false</advanced>
                                            <readonly>false</readonly>
                                            <reference/>
                                            <expected/>
                                            <unit/>
                                          </xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                      <xs:element name="sat_id_gw" type="xs:integer" minOccurs="0">
                                        <xs:annotation>
                                          <xs:documentation xml:lang="en">
                                            <type>int</type>
                                            <name>Satellite ID for the gateway</name>
                                            <description>ID of the satellite to which the gateway is connected</description>
                                            <advanced>false</advanced>
                                            <readonly>false</readonly>
                                            <reference/>
                                            <expected/>
                                            <unit/>
                                          </xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                      <xs:element name="sat_id_st" type="xs:integer" minOccurs="0">
                                        <xs:annotation>
                                          <xs:documentation xml:lang="en">
                                            <type>int</type>
                                            <name>Satellite ID for the terminals</name>
                                            <description>ID of the satellite to which the terminals are connected</description>
                                            <advanced>false</advanced>
                                            <readonly>false</readonly>
                                            <reference/>
                                            <expected/>
                                            <unit/>
                                          </xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                      <xs:element name="forward_regen_level" type="sat_regen_level" minOccurs="0">
                                        <xs:annotation>
                                          <xs:documentation xml:lang="en">
                                            <type>sat_regen_level</type>
                                            <name>Forward channel regeneration level</name>
                                            <description>Regeneration level for the forward channel (gateway -&gt; terminal)</description>
                                            <advanced>false</advanced>
                                            <readonly>false</readonly>
                                            <reference/>
                                            <expected/>
                                            <unit/>
                                          </xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                      <xs:element name="return_regen_level" type="sat_regen_level" minOccurs="0">
                                        <xs:annotation>
                                          <xs:documentation xml:lang="en">
                                            <type>sat_regen_level</type>
                                            <name>Return channel regeneration level</name>
                                            <description>Regeneration level for the return channel (terminal -&gt; gateway)</description>
                                            <advanced>false</advanced>
                                            <readonly>false</readonly>
                                            <reference/>
                                            <expected/>
                                            <unit/>
                                          </xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="roll_off">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                      <type>component</type>
                                      <name>Roll Off</name>
                                      <description/>
                                      <advanced>false</advanced>
                                      <readonly>false</readonly>
                                      <reference/>
                                      <expected/>
                                    </xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="forward" type="xs:decimal" minOccurs="0">
                                        <xs:annotation>
                                          <xs:documentation xml:lang="en">
                                            <type>double</type>
                                            <name>Forward Band Roll Off</name>
                                            <description>Usually 0.35, 0.25 or 0.2 for DVB-S2</description>
                                            <advanced>false</advanced>
                                            <readonly>false</readonly>
                                            <reference/>
                                            <expected/>
                                            <unit/>
                                          </xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                      <xs:element name="return" type="xs:decimal" minOccurs="0">
                                        <xs:annotation>
                                          <xs:documentation xml:lang="en">
                                            <type>double</type>
                                            <name>Return Band Roll Off</name>
                                            <description>Usually 0.2 for DVB-RCS2</description>
                                            <advanced>false</advanced>
                                            <readonly>false</readonly>
                                            <reference/>
                                            <expected/>
                                            <unit/>
                                          </xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="forward_band">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                      <type>list</type>
                                      <name>Forward Band</name>
                                      <description/>
                                      <advanced>false</advanced>
                                      <readonly>false</readonly>
                                      <reference/>
                                      <expected/>
                                    </xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
                                        <xs:annotation>
                                          <xs:documentation xml:lang="en">
                                            <type>component</type>
                                            <name>fwd_band</name>
                                            <description/>
                                            <advanced>false</advanced>
                                            <readonly>false</readonly>
                                            <reference/>
                                            <expected/>
                                          </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="symbol_rate" type="xs:decimal" minOccurs="0">
                                              <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                  <type>double</type>
                                                  <name>Symbol Rate</name>
                                                  <description/>
                                                  <advanced>false</advanced>
                                                  <readonly>false</readonly>
                                                  <reference/>
                                                  <expected/>
                                                  <unit>Bauds</unit>
                                                </xs:documentation>
                                              </xs:annotation>
                                            </xs:element>
                                            <xs:element name="type" type="forward_type" minOccurs="0">
                                              <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                  <type>forward_type</type>
                                                  <name>Type</name>
                                                  <description/>
                                                  <advanced>false</advanced>
                                                  <readonly>false</readonly>
                                                  <reference/>
                                                  <expected/>
                                                  <unit/>
                                                </xs:documentation>
                                              </xs:annotation>
                                            </xs:element>
                                            <xs:element name="wave_form" type="xs:string" minOccurs="0">
                                              <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                  <type>string</type>
                                                  <name>Wave Form IDs</name>
                                                  <description>Supported Wave Forms. Use ';' separator for unique IDs, '-' separator for all the IDs between bounds</description>
                                                  <advanced>false</advanced>
                                                  <readonly>false</readonly>
                                                  <reference/>
                                                  <expected/>
                                                  <unit/>
                                                </xs:documentation>
                                              </xs:annotation>
                                            </xs:element>
                                            <xs:element name="group" type="carrier_group" minOccurs="0">
                                              <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                  <type>carrier_group</type>
                                                  <name>Group</name>
                                                  <description/>
                                                  <advanced>false</advanced>
                                                  <readonly>false</readonly>
                                                  <reference/>
                                                  <expected/>
                                                  <unit/>
                                                </xs:documentation>
                                              </xs:annotation>
                                            </xs:element>
                                            <xs:element name="ratio" type="xs:string" minOccurs="0">
                                              <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                  <type>string</type>
                                                  <name>Ratio</name>
                                                  <description>Separate temporal division ratios by ','; you should also specify as many wave form IDs also separated by ','</description>
                                                  <advanced>false</advanced>
                                                  <readonly>false</readonly>
                                                  <reference>/frequency_plan/spots/*/forward_band/*/type</reference>
                                                  <expected>VCM</expected>
                                                  <unit/>
                                                </xs:documentation>
                                              </xs:annotation>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="return_band">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                      <type>list</type>
                                      <name>Return Band</name>
                                      <description/>
                                      <advanced>false</advanced>
                                      <readonly>false</readonly>
                                      <reference/>
                                      <expected/>
                                    </xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
                                        <xs:annotation>
                                          <xs:documentation xml:lang="en">
                                            <type>component</type>
                                            <name>rtn_band</name>
                                            <description/>
                                            <advanced>false</advanced>
                                            <readonly>false</readonly>
                                            <reference/>
                                            <expected/>
                                          </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="symbol_rate" type="xs:decimal" minOccurs="0">
                                              <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                  <type>double</type>
                                                  <name>Symbol Rate</name>
                                                  <description/>
                                                  <advanced>false</advanced>
                                                  <readonly>false</readonly>
                                                  <reference/>
                                                  <expected/>
                                                  <unit>Bauds</unit>
                                                </xs:documentation>
                                              </xs:annotation>
                                            </xs:element>
                                            <xs:element name="type" type="return_type" minOccurs="0">
                                              <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                  <type>return_type</type>
                                                  <name>Type</name>
                                                  <description/>
                                                  <advanced>false</advanced>
                                                  <readonly>false</readonly>
                                                  <reference/>
                                                  <expected/>
                                                  <unit/>
                                                </xs:documentation>
                                              </xs:annotation>
                                            </xs:element>
                                            <xs:element name="wave_form" type="xs:string" minOccurs="0">
                                              <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                  <type>string</type>
                                                  <name>Wave Forms</name>
                                                  <description/>
                                                  <advanced>false</advanced>
                                                  <readonly>false</readonly>
                                                  <reference/>
                                                  <expected/>
                                                  <unit/>
                                                </xs:documentation>
                                              </xs:annotation>
                                            </xs:element>
                                            <xs:element name="group" type="carrier_group" minOccurs="0">
                                              <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                  <type>carrier_group</type>
                                                  <name>Group</name>
                                                  <description/>
                                                  <advanced>false</advanced>
                                                  <readonly>false</readonly>
                                                  <reference/>
                                                  <expected/>
                                                  <unit/>
                                                </xs:documentation>
                                              </xs:annotation>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="st_assignment">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <type>component</type>
                    <name>Satellite Terminal Assignment</name>
                    <description/>
                    <advanced>false</advanced>
                    <readonly>false</readonly>
                    <reference/>
                    <expected/>
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="defaults">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          <type>component</type>
                          <name>Default Settings</name>
                          <description/>
                          <advanced>false</advanced>
                          <readonly>false</readonly>
                          <reference/>
                          <expected/>
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="default_gateway" type="xs:integer" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>int</type>
                                <name>Gateway</name>
                                <description>ID of the gateway terminals should connect to by default; since a gateway manages only one spot, this also defines the spot terminals belong to by default</description>
                                <advanced>false</advanced>
                                <readonly>false</readonly>
                                <reference/>
                                <expected/>
                                <unit/>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="default_group" type="carrier_group" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>carrier_group</type>
                                <name>Group</name>
                                <description/>
                                <advanced>false</advanced>
                                <readonly>false</readonly>
                                <reference/>
                                <expected/>
                                <unit/>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="assignments">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          <type>list</type>
                          <name>Additional Assignments</name>
                          <description/>
                          <advanced>false</advanced>
                          <readonly>false</readonly>
                          <reference/>
                          <expected/>
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>component</type>
                                <name>assigned</name>
                                <description>Additional terminal assignments that does not fit the default values</description>
                                <advanced>true</advanced>
                                <readonly>false</readonly>
                                <reference/>
                                <expected/>
                              </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="terminal_id" type="xs:integer" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                      <type>int</type>
                                      <name>Terminal ID</name>
                                      <description/>
                                      <advanced>false</advanced>
                                      <readonly>false</readonly>
                                      <reference/>
                                      <expected/>
                                      <unit/>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="gateway_id" type="xs:integer" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                      <type>int</type>
                                      <name>Gateway ID</name>
                                      <description/>
                                      <advanced>false</advanced>
                                      <readonly>false</readonly>
                                      <reference/>
                                      <expected/>
                                      <unit/>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="group" type="carrier_group" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                      <type>carrier_group</type>
                                      <name>Group</name>
                                      <description/>
                                      <advanced>false</advanced>
                                      <readonly>false</readonly>
                                      <reference/>
                                      <expected/>
                                      <unit/>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="wave_forms">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <type>component</type>
                    <name>Wave Forms</name>
                    <description/>
                    <advanced>false</advanced>
                    <readonly>true</readonly>
                    <reference/>
                    <expected/>
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="dvb_s2">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          <type>list</type>
                          <name>DVB-S2 Wave Forms</name>
                          <description/>
                          <advanced>false</advanced>
                          <readonly>false</readonly>
                          <reference/>
                          <expected/>
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>component</type>
                                <name>dvb_s2_waveforms</name>
                                <description/>
                                <advanced>false</advanced>
                                <readonly>false</readonly>
                                <reference/>
                                <expected/>
                              </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="id" type="xs:integer" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                      <type>int</type>
                                      <name>Wave Form ID</name>
                                      <description/>
                                      <advanced>false</advanced>
                                      <readonly>false</readonly>
                                      <reference/>
                                      <expected/>
                                      <unit/>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="modulation" type="modulation" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                      <type>modulation</type>
                                      <name>Modulation</name>
                                      <description/>
                                      <advanced>false</advanced>
                                      <readonly>false</readonly>
                                      <reference/>
                                      <expected/>
                                      <unit/>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="coding" type="coding" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                      <type>coding</type>
                                      <name>Coding Rate</name>
                                      <description/>
                                      <advanced>false</advanced>
                                      <readonly>false</readonly>
                                      <reference/>
                                      <expected/>
                                      <unit/>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="efficiency" type="xs:decimal" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                      <type>double</type>
                                      <name>Spectral Efficiency</name>
                                      <description/>
                                      <advanced>false</advanced>
                                      <readonly>false</readonly>
                                      <reference/>
                                      <expected/>
                                      <unit/>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="threshold" type="xs:decimal" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                      <type>double</type>
                                      <name>Required Es/N0</name>
                                      <description/>
                                      <advanced>false</advanced>
                                      <readonly>false</readonly>
                                      <reference/>
                                      <expected/>
                                      <unit>dB</unit>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="dvb_rcs2">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          <type>list</type>
                          <name>DVB-RCS2 Wave Forms</name>
                          <description/>
                          <advanced>false</advanced>
                          <readonly>false</readonly>
                          <reference/>
                          <expected/>
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>component</type>
                                <name>dvb_rcs2_waveforms</name>
                                <description/>
                                <advanced>false</advanced>
                                <readonly>false</readonly>
                                <reference/>
                                <expected/>
                              </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="id" type="xs:integer" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                      <type>int</type>
                                      <name>Wave Form ID</name>
                                      <description/>
                                      <advanced>false</advanced>
                                      <readonly>false</readonly>
                                      <reference/>
                                      <expected/>
                                      <unit/>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="modulation" type="modulation" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                      <type>modulation</type>
                                      <name>Modulation</name>
                                      <description/>
                                      <advanced>false</advanced>
                                      <readonly>false</readonly>
                                      <reference/>
                                      <expected/>
                                      <unit/>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="coding" type="coding" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                      <type>coding</type>
                                      <name>Coding Rate</name>
                                      <description/>
                                      <advanced>false</advanced>
                                      <readonly>false</readonly>
                                      <reference/>
                                      <expected/>
                                      <unit/>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="efficiency" type="xs:decimal" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                      <type>double</type>
                                      <name>Spectral Efficiency</name>
                                      <description/>
                                      <advanced>false</advanced>
                                      <readonly>false</readonly>
                                      <reference/>
                                      <expected/>
                                      <unit/>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="threshold" type="xs:decimal" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                      <type>double</type>
                                      <name>Required Es/N0</name>
                                      <description/>
                                      <advanced>false</advanced>
                                      <readonly>false</readonly>
                                      <reference/>
                                      <expected/>
                                      <unit>dB</unit>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="burst_length" type="burst_length" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                      <type>burst_length</type>
                                      <name>Burst Length</name>
                                      <description/>
                                      <advanced>false</advanced>
                                      <readonly>false</readonly>
                                      <reference/>
                                      <expected/>
                                      <unit/>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="advanced_settings">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <type>component</type>
                    <name>Advanced Settings</name>
                    <description/>
                    <advanced>true</advanced>
                    <readonly>false</readonly>
                    <reference/>
                    <expected/>
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="links">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          <type>component</type>
                          <name>Links</name>
                          <description/>
                          <advanced>false</advanced>
                          <readonly>false</readonly>
                          <reference/>
                          <expected/>
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="forward_duration" type="xs:decimal" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>double</type>
                                <name>Forward link frame duration</name>
                                <description/>
                                <advanced>false</advanced>
                                <readonly>false</readonly>
                                <reference/>
                                <expected/>
                                <unit>ms</unit>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="forward_margin" type="xs:decimal" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>double</type>
                                <name>Forward link ACM loop margin</name>
                                <description/>
                                <advanced>false</advanced>
                                <readonly>false</readonly>
                                <reference/>
                                <expected/>
                                <unit>dB</unit>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="return_duration" type="xs:decimal" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>double</type>
                                <name>Return link frame duration</name>
                                <description/>
                                <advanced>false</advanced>
                                <readonly>false</readonly>
                                <reference/>
                                <expected/>
                                <unit>ms</unit>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="return_margin" type="xs:decimal" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>double</type>
                                <name>Return link ACM loop margin</name>
                                <description/>
                                <advanced>false</advanced>
                                <readonly>false</readonly>
                                <reference/>
                                <expected/>
                                <unit>dB</unit>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="schedulers">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          <type>component</type>
                          <name>Schedulers</name>
                          <description/>
                          <advanced>false</advanced>
                          <readonly>false</readonly>
                          <reference/>
                          <expected/>
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="burst_length" type="burst_length" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>burst_length</type>
                                <name>DVB-RCS2 Burst Length</name>
                                <description/>
                                <advanced>false</advanced>
                                <readonly>false</readonly>
                                <reference/>
                                <expected/>
                                <unit/>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="crdsa_frame" type="xs:integer" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>int</type>
                                <name>CRDSA Frame</name>
                                <description/>
                                <advanced>false</advanced>
                                <readonly>false</readonly>
                                <reference/>
                                <expected/>
                                <unit>DVB-RCS2 SuperFrames</unit>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="crdsa_delay" type="xs:integer" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>int</type>
                                <name>CRDSA Max Satellite Delay</name>
                                <description/>
                                <advanced>false</advanced>
                                <readonly>false</readonly>
                                <reference/>
                                <expected/>
                                <unit>ms</unit>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="pep_allocation" type="xs:integer" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>int</type>
                                <name>PEP Allocation Delay</name>
                                <description/>
                                <advanced>false</advanced>
                                <readonly>false</readonly>
                                <reference/>
                                <expected/>
                                <unit>ms</unit>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="timers">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          <type>component</type>
                          <name>Timers</name>
                          <description/>
                          <advanced>false</advanced>
                          <readonly>false</readonly>
                          <reference/>
                          <expected/>
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="statistics" type="xs:integer" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>int</type>
                                <name>Statistics Timer</name>
                                <description/>
                                <advanced>false</advanced>
                                <readonly>false</readonly>
                                <reference/>
                                <expected/>
                                <unit>ms</unit>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="synchro" type="xs:integer" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>int</type>
                                <name>Sync Period</name>
                                <description/>
                                <advanced>false</advanced>
                                <readonly>false</readonly>
                                <reference/>
                                <expected/>
                                <unit>ms</unit>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="acm_refresh" type="xs:integer" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>int</type>
                                <name>ACM Refresh Period</name>
                                <description/>
                                <advanced>false</advanced>
                                <readonly>false</readonly>
                                <reference/>
                                <expected/>
                                <unit>ms</unit>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="delay">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          <type>component</type>
                          <name>Delay</name>
                          <description/>
                          <advanced>false</advanced>
                          <readonly>false</readonly>
                          <reference/>
                          <expected/>
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="fifo_size" type="xs:integer" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>int</type>
                                <name>Buffer Size</name>
                                <description>Amount of packets that can be stored at once in the delay FIFO before being sent through the physical channels; acts as default values for the Gateways channels FIFO sizes if not specified</description>
                                <advanced>false</advanced>
                                <readonly>false</readonly>
                                <reference/>
                                <expected/>
                                <unit>packets</unit>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="delay_timer" type="xs:integer" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>int</type>
                                <name>Timer</name>
                                <description/>
                                <advanced>false</advanced>
                                <readonly>false</readonly>
                                <reference/>
                                <expected/>
                                <unit/>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="burst_length">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <name>DVB-RCS2 Burst Length</name>
        <description/>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="1616 sym"/>
      <xs:enumeration value="536 sym"/>
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="carrier_group">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <name>Carrier Group</name>
        <description/>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Premium"/>
      <xs:enumeration value="Professional"/>
      <xs:enumeration value="SNO"/>
      <xs:enumeration value="SVNO1"/>
      <xs:enumeration value="SVNO2"/>
      <xs:enumeration value="SVNO3"/>
      <xs:enumeration value="Standard"/>
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="coding">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <name>Coding</name>
        <description/>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="1/2"/>
      <xs:enumeration value="1/3"/>
      <xs:enumeration value="1/4"/>
      <xs:enumeration value="2/3"/>
      <xs:enumeration value="2/5"/>
      <xs:enumeration value="3/4"/>
      <xs:enumeration value="3/5"/>
      <xs:enumeration value="4/5"/>
      <xs:enumeration value="5/6"/>
      <xs:enumeration value="6/7"/>
      <xs:enumeration value="8/9"/>
      <xs:enumeration value="9/10"/>
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="forward_type">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <name>Forward Carrier Type</name>
        <description/>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACM"/>
      <xs:enumeration value="VCM"/>
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="modulation">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <name>Modulation</name>
        <description/>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="16APSK"/>
      <xs:enumeration value="16QAM"/>
      <xs:enumeration value="32APSK"/>
      <xs:enumeration value="8PSK"/>
      <xs:enumeration value="BPSK"/>
      <xs:enumeration value="Pi/2BPSK"/>
      <xs:enumeration value="QPSK"/>
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="return_type">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <name>Return Carrier Type</name>
        <description/>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ALOHA"/>
      <xs:enumeration value="DAMA"/>
      <xs:enumeration value="SCPC"/>
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sat_regen_level">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <name>Regeneration Level for Satellite</name>
        <description/>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="BBFrame"/>
      <xs:enumeration value="IP"/>
      <xs:enumeration value="Transparent"/>
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
